<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		{% if bgimg %}
			{% include "components/bgimg.njk" %}
		{% endif %}

		{# <header>
			{% include "components/nav.njk" %}
		</header> #}

		<main>
			{{ layoutContent | safe }}
		</main>

		{# {% include "components/footer.njk" %} #}

	</body>

</html>
