<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		{% if bgimg %}
			<div style="
			    position: fixed;
			    z-index: -1;
			    height: 100vh;
			    width: 100vw;
			    background: center / cover url({{ bgimg }});">
			</div>
		{% endif %}

		{# <header>
			{% include "components/nav.njk" %}
		</header> #}

		<main>
			{{ layoutContent | safe }}
		</main>

		{# {% include "components/footer.njk" %} #}

	</body>

</html>
