---
layout: layouts/base.njk
section: page
---

<div class="{{ home-container if title == 'Home' }}">
    {% if title != 'Home' %}
        <h1>{{ title }}</h1>
    {% endif %}

    {{ layoutContent | safe }}
</div>
