---
layout: layouts/base.njk
section: page
---

{% if title == 'Home' %}
<div class="home-container">
{% else %}
<div class="page-container">
    <h1>{{ title }}</h1>
{% endif %}

    {{ layoutContent | safe }}
</div>
